<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @item.owner_id %>
</p>

<p>
  <b>Box:</b>
  <%= @item.box_id %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Picture:</b>
  <%= @item.picture %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
